<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-1 px-sm-1 px-0 bg-dark">
      <side-menu />
    </div>
    <div class="col px-0">
      <div class="container text-center mt-5">
        <h1>About My Maps App</h1>
        <p class="lead mt-4">
          Welcome to the "Maps App"! This application is designed to showcase
          various mapping features, including fullscreen maps, markers,
          properties, zoom controls, and more.
        </p>
        <p>
          The app was built using <strong>Angular</strong>, leveraging features
          such as standalone components and lazy loading for better performance
          and scalability.
        </p>
        <p>
          I developed this app to learn and experiment with mapping tools,
          responsive design, and advanced Angular features. It's a testament to
          my skills in modern web development and my passion for creating
          intuitive and powerful applications.
        </p>
        <hr />
        <p>
          Feel free to explore the different sections of the app using the
          navigation menu. Thank you for visiting!
        </p>
      </div>
    </div>
  </div>
</div>
